# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.TimeHeist.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\vicki\OneDrive\Desktop\SAE Classes\CIU212\TimeHeist\TimeHeist\.idea\.idea.TimeHeist\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
